// Task list styling
.tasksListDiv {
  width: 60%;
  height: 80%;
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

// Task styling
.taskDiv {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px solid grey;
  border-radius: 7px;
  padding: 1rem 2rem;
  .task {
    .taskText {
      font-size: 2.2rem;
      outline: none;
      overflow-y: hidden;
    }
  }
  .taskMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
  }
}
